<ion-grid no-padding class="ios" [formGroup]="form">
  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">{{'user.firstname' | translate}}</ion-label>
        <ion-input formControlName="firstname" placeholder="{{'user.lastname' | translate}}"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">{{'user.lastname' | translate}}</ion-label>
        <ion-input formControlName="lastname" placeholder="{{'user.lastname' | translate}}"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">{{'user.username' | translate}}</ion-label>
        <ion-input formControlName="username" placeholder="{{'user.lastname' | translate}}"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">
          {{'user.email' | translate}}
        </ion-label>
        <ion-input formControlName="email" placeholder="{{'user.lastname' | translate}}">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">
          {{'user.password' | translate}}
        </ion-label>
        <ion-input type="password" formControlName="password" placeholder="{{'user.password' | translate}}">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row no-padding justify-content-start align-items-start>
    <ion-col size="12" class="ion-margin-bottom">
      <ion-button [disabled]="form.invalid" (click)="createUser()">
        <ion-icon name="add-circle-outline"></ion-icon>
        {{'shared.actions.register' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
