<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>
          <ion-accordion-group>
            <ion-item *ngFor="let item of items;">
              <ion-accordion [value]="item.id">
                <ion-item slot="header" color="light">
                  <ion-label>{{item.name}}</ion-label>
                  <ion-icon slot="start" [ios]="item.icon+'-outline'" [md]="item.icon+'-sharp'"></ion-icon>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-menu-toggle auto-hide="false" *ngFor="let page of item.sideNavSectionElement; let i = index">
                    <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false"
                              routerLinkActive="selected">
                      <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
                      <ion-label>{{page.name }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </div>
              </ion-accordion>
            </ion-item>

          </ion-accordion-group>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
