<ion-header>
  <ion-toolbar>
    <ion-title>User groups</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <ion-grid [fixed]="true">
    <ion-card class="card">
      <ion-row>
        <ion-col>
          Index
        </ion-col>
        <ion-col>
          Username
        </ion-col>
        <ion-col>
          Firstname
        </ion-col>
        <ion-col>
          LastName
        </ion-col>
        <ion-col>
          User
        </ion-col>
        <ion-col>
          Edit
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngFor="let player of groupPlayers  let i=index">
      <ion-row>
        <ion-col>
          {{i + 1}}
        </ion-col>
        <ion-col>
          {{player.username}}
        </ion-col>
        <ion-col>
          {{player.firstname}}
        </ion-col>
        <ion-col>
          {{player.lastname}}
        </ion-col>
        <ion-col>
          {{player.user?.username}}
        </ion-col>
        <ion-col>
          <button (click)="edit(player)">Edit</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

