<ion-content class="background">
  <ion-grid [fixed]="true">
    <ion-card class="card">
      <ion-row>
        <ion-col>
          Index
        </ion-col>
        <ion-col>
          Home
        </ion-col>
        <ion-col>
          Away
        </ion-col>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          View
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngFor="let match of groupMatches  let i=index">
      <ion-row>
        <ion-col>
          {{i + 1}}
        </ion-col>
        <ion-col>
          {{match.firstTeam.name}}
        </ion-col>
        <ion-col>
          {{match.secondTeam.name}}
        </ion-col>
        <ion-col>
          {{match.matchStatus}}
        </ion-col>
        <ion-col>
          <button *ngIf="selectedMatch?.uuid!==match.uuid" (click)="selectMatch(match)">Select</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

