<ion-content>
  <ion-grid [fixed]="true">
    <ion-card>
      <ion-row>
        <ion-col>
          #
        </ion-col>
        <ion-col>
          <ion-icon name="people"></ion-icon>
          Group name
        </ion-col>
        <ion-col>
          <ion-icon name="people"></ion-icon>
          Created by
        </ion-col>
        <ion-col>
          <ion-icon name="people"></ion-icon>
          select Group
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngFor="let group of groups  let i=index">
      <ion-row>
        <ion-col>
          {{i + 1}}
        </ion-col>
        <ion-col>
          {{group.name}}
        </ion-col>
        <ion-col>
          {{group.user ? group.user.username : ''}}
        </ion-col>
        <ion-col>
          <button *ngIf="selectedGroup?.uuid!==group.uuid" (click)="selectGroup(group)">Select Group</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

